@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔴 🧩 HTMLS 🧩 🔴 */

:root {
  --border: rgb(39, 34, 34);
  --border-hover: rgb(101, 92, 92);
  --button-hover: rgba(117, 106, 106, 0.481);
  --text-dark: rgb(255, 255, 255);
}

body {
  color: var(--text-dark);
  background: rgb(28, 24, 24);
  overflow-y: scroll;
  padding-right: 17px;
}

span {
  color: rgb(137, 82, 82);
}

strong {
  color: #e4c483;
  font-weight: 600;
}

li {
  font-weight: 300;
  color: white;
}

/* 🔴 🧩 NAVBAR 🧩 🔴 */

.navbar {
  padding-block: 20px;
  gap: 20px;
  font-size: 20px;
}

/* 🔴 🧩 SCROLL 🧩 🔴 */

::-webkit-scrollbar {
  background: rgb(74, 56, 56);
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: #3a2525;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/* 🔴 🧩 CUSTOMS 🧩 🔴 */

.boton-dato-interesante {
  border: 2px solid var(--border);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  /* margin-block: 1rem; */
  background: #514848;
}

.perfil-noticia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--border);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 320px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* 🔴 🧩 COMPONENTE CITY 🧩 🔴 */

.titulo {
  font-size: 3.75rem /* 60px */;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.agregar-tarea {
  padding-top: 2rem;
}

.agregar-tarea input {
  background: #514848;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 0.5rem;
}

.agregar-tarea button {
  margin-left: 20px;
  border: 2px solid var(--border);
  padding: 0.5rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.agregar-tarea button:hover {
  background: var(--button-hover);
  border: 2px solid var(--border-hover);
}

.boton {
  margin-left: 20px;
  margin-block: 10px;
  border: 2px solid var(--border);
  padding: 0.5rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.boton:hover {
  background: var(--button-hover);
  border: 2px solid var(--border-hover);
}

.tareas-completas {
  border-left: 4px solid var(--border-hover);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  padding-left: 10px;
}

.tareas-completas-h2 {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 20px;
}

.tareas-pendientes {
  border-left: 4px solid var(--border-hover);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  padding-left: 10px;
}

.tareas-pendientes-h2 {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 20px;
}

.span-footer {
  color: rgb(28, 149, 210);
}
